:root {
    --black: #212121;
    --white: #FFFFFF;
    --blue: #2196F3;
    --grey: #757575;
    --darkgrey: #2F303A;
    --lightgrey: #F5F4FA;
}
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--black);
}

.logo-header {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 0.03;
    width: auto;
    text-align: left;
    text-decoration: none;
    color: var(--blue);
    align: top;
}
.studio-header {
    color: var(--black)
}
.links a {
    color: var(--black);
    font-size: 14px;
    font-weight: medium;
    line-height: 1.14;
    letter-spacing: 0.02;
    width: auto;
    text-align: left;
    text-decoration: none;
    align: top;
}

.links a.links-agency,
.links a.links-agency:hover {
    color: var(--blue);
}

.email-header {
    font-size: 14px;
    font-weight: medium;
    line-height: 1.14;
    letter-spacing: 0.02;
    width: auto;
    text-align: left;
    text-decoration: none;
    align: top;
}
.email-header:hover {
    color: var(--blue);
}
.phone-header {
    font-size: 14px;
    font-weight: medium;
    line-height: 1.14;
    letter-spacing: 0.02;
    width: auto;
    text-align: left;
    text-decoration: none;
    color: var(--grey);
    align: top;
}
.div-heading {
    background-color: var(--darkgrey);
    color: var(--white);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06;
    height: auto;
    text-align: center;
    align: top;

}
.btn {
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.87;
    letter-spacing: 0.06;
    width: auto;
    text-align: center;
    align: middle;
}
.heading {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.03;
    height: auto;
    text-align: left;
    align: top;
}
.paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03;
    text-align: left;
    align: top;
    color: var(--grey);
}
.section-one-heading,
.section-two-heading {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.16;
    letter-spacing: 0.03;
    width: auto;
    text-align: center;
    align: top;
}
.name {
    font-size: 16px;
    font-weight: medium;
    line-height: 1.18;
    letter-spacing: 0.03;
    width: auto;
    text-align: center;
    align: top;
}
.department {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03;
    width: auto;
    text-align: center;
    align: top;
    color: var(--grey);
}
.footer {
    background-color: var(--darkgrey);
}
.logo-footer {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 0.03;
    width: auto;
    text-align: left;
    align: top;
    color: var(--blue);
    text-decoration: none;
}
.studio-footer {
    color: var(--white);
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03;
    height: auto;
    text-align: left;
    align: top;
    color: var(--white);
    font-style: normal;
}
.email-footer,
.phone-footer {
    color:#75757599;
    text-decoration: none;
}
.button {
    cursor: pointer;
    list-style-type: none;
}
.div-button-all {
    background-color: var(--blue);
    color: var(--white);
    font-weight: medium;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03;
    width: auto;
    text-align: center;
    align: top;
}
.div-button {
    background-color: var(--lightgrey);
    font-size: 16px;
    font-weight: medium;
    line-height: 1.62;
    letter-spacing: 0.03;
    width: auto;
    text-align: center;
    align: top;
}
.heading-img {
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.06;
    height: auto;
    text-align: left;
    align: top;
}
.paragraph-img {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03;
    height: auto;
    text-align: left;
    align:top;
    color: var(--grey);
}