:root {
    --black: #212121;
    --white: #FFFFFF;
    --blue: #2196F3;
    --gray: #757575;
    --darkgray: #2F303A;
    --lightgray: #F5F4FA;
    --transparent: rgba(255, 255, 255, 0.6);
    --foggy: #ECECEC;
    --light: #EEEEEE;
    --darkone: rgba(0, 0, 0, 0.15);
    --darktwo: rgba(0, 0, 0, 0.12);
    --darkthree: rgba(0, 0, 0, 0.14);
    --darkfour: rgba(0, 0, 0, 0.2);
}
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--black);
    width: 1600px;
}
.container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
}
 *,
 *::before,
 *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-header {
    border-bottom: 1px solid var(--foggy);
    padding-top: 32px; 
    padding-bottom: 32px;
}
.nav {
    display: flex;
}
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03rem;
    text-align: left;
    text-decoration: none;
    color: var(--blue);
    padding-right: 93px;
}
.studio-header {
    color: var(--black)
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.list-contact {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
.nav-list a {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02rem;
    text-align: left;
    text-decoration: none;
    padding-right: 46px;
}
.links-agency:hover,
.links-portfolio:hover,
.links-contact:hover {
    color: var(--blue);
}
.list-contact .email-header,
.list-contact .phone-header {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02rem;
    text-align: left;
    text-decoration: none;
}
.email-header {
    padding-left: 310px;
}
.phone-header {
    padding-left: 50px;
}
.email-header:hover {
    color: var(--blue);
}
.div-heading {
    color: var(--white);
    font-size: 44px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.06rem;
    width: 696px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
}
.div {
    background-color: var(--darkgray);
    display: flex;
    justify-content: center;
}
.btn {
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06rem;
    text-align: center;
    cursor: pointer;
    padding: 10px 41px 10px 42px;
    box-shadow: 0px 4px 4px var(--darkone);
    border-radius: 4px;
    border: none;
    margin-top:350px;
    margin-bottom: 200px;
    position: absolute;
}
.btn:hover {
    border: 1px solid var(--blue);
}
.div-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 94px;
}
.item p {
    padding-top: 10px;
}
.heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03rem;
    text-align: left;
    list-style-type: none;
}
.paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03rem;
    text-align: left;
    color: var(--gray);
}
.section-one-heading,
.section-two-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03rem;
    text-align: center;
}
.team {
    background-color: var(--lightgray);
    padding-bottom: 94px;
}
img {
    display: block;
}
.section-one-heading {
    padding-top: 94px;  
}
.first-list {
    display:flex;
    list-style-type: none;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
    justify-content: space-between;
}
.section-two-heading {
    padding-top: 94px;
    padding-bottom: 50px;
}
.second-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: space-between;
}
.box {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px var(--darktwo), 0px 1px 1px var(--darkthree), 0px 2px 1px var(--darkfour);
}
.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03rem;
    text-align: center;
    padding: 30px 0 10px 0;
}
.department {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03rem;
    text-align: center;
    color: var(--gray);
    padding-bottom: 30px;
}
.footer {
    background-color: var(--darkgray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}
.studio-footer {
    color: var(--white);
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03rem;
    text-align: left;
    color: var(--white);
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 60px;
}
.email-footer,
.phone-footer {
    color: var(--transparent);
    text-decoration: none;
}
.email-footer:hover {
    color: var(--blue);
}
.div-button {
    background-color: var(--lightgray);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03rem;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}
.div-button:hover {
    background-color: var(--blue);
    color: var(--white);
}
.list-button {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    padding-top: 94px;
}
.list-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    padding-top: 34px;
    padding-bottom: 94px;
}
.description {
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    width: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.heading-img {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06rem;
    text-align: left;
    padding-left: 24px;
}
.paragraph-img {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03rem;
    text-align: left;
    color: var(--gray);
    padding-left: 24px;
}