:root {
    --black: #212121;
    --white: #FFFFFF;
    --blue: #2196F3;
    --gray: #757575;
    --darkgray: #2F303A;
    --lightgray: #F5F4FA;
    --transparent: rgba(255, 255, 255, 0.6);
    --transnext: rgba(255, 255, 255, 0.1);
    --foggy: #ECECEC;
    --light: #EEEEEE;
    --darkone: rgba(0, 0, 0, 0.15);
    --darktwo: rgba(0, 0, 0, 0.12);
    --darkthree: rgba(0, 0, 0, 0.14);
    --darkfour: rgba(0, 0, 0, 0.2);
    --gradient: rgba(47, 48, 58, 0.4);
    --lightnext: #AFB1B8;
}
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--black);
    width: 1600px;
}
.container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
}
*:focus {
    outline: dotted;
}
 *,
 *::before,
 *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.page-header {
    border-bottom: 1px solid var(--foggy);
    padding-top: 32px; 
    padding-bottom: 32px;
}
.nav {
    display: flex;
}
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03rem;
    text-align: left;
    text-decoration: none;
    color: var(--blue);
}
.studio-header {
    color: var(--black)
}
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 93px;
}
.list-contact {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list a {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02rem;
    text-align: left;
    text-decoration: none;
    margin-right: 46px;
}
.links-agency:hover,
.links-agency:focus,
.links-portfolio:hover,
.links-portfolio:focus,
.links-contact:hover,
.links-contact:focus {
    color: var(--blue);
}
.list-contact .email-header,
.list-contact .phone-header {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02rem;
    text-align: left;
    text-decoration: none;
}
.email-header {
    margin-left: 300px;
}
.icon-contact {
    margin-right: 10px;
    fill: var(--gray);   
}
.phone-header {
    margin-left: 40px;
}
.email-header:hover,
.email-header:focus,
.phone-header:hover,
.phone-header:focus {
    color: var(--blue);
}
.phone-header:hover .icon-contact,
.phone-header:focus .icon-contact,
.email-header:hover .icon-contact,
.email-header:focus .icon-contact {
    fill: var(--blue);
}
.page {
    background-color: var(--darkgray);
    background-image: linear-gradient(var(--gradient), var(--gradient)), url("../images/new-photo.jpg");
    max-width: 1600px;
}
.main-page {
    display: flex;
    justify-content: center;
}
.div-heading {
    color: var(--white);
    font-size: 44px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.06rem;
    width: 696px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
}
.btn {
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06rem;
    text-align: center;
    cursor: pointer;
    padding: 10px 41px 10px 42px;
    box-shadow: 0px 4px 4px var(--darkone);
    border-radius: 4px;
    border: none;
    margin-top:350px;
    margin-bottom: 200px;
    position: absolute;
}
.btn:hover,
.btn:focus {
    border: 1px solid var(--blue);
}
.div-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 94px;
}
.item p {
    padding-top: 10px;
}
.heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03rem;
    text-align: left;
    list-style-type: none;
    padding-top: 30px;
}
.paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--gray);
}
.section-one-heading,
.section-two-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03rem;
    text-align: center;
}
.team {
    background-color: var(--lightgray);
    padding-bottom: 94px;
}
img {
    display: block;
}
.section-one-heading {
    padding-top: 94px;  
}
.first-list {
    display:flex;
    list-style-type: none;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
    justify-content: space-between;
}
.section-two-heading {
    padding-top: 94px;
    padding-bottom: 50px;
}
.second-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: space-between;
}
.box-team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.box {
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px var(--darktwo), 0px 1px 1px var(--darkthree), 0px 2px 1px var(--darkfour);
}
.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03rem;
    text-align: center;
    padding: 30px 0 10px 0;
}
.department {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03rem;
    text-align: center;
    color: var(--gray);
    padding-bottom: 30px;
}
.footer {
    background-color: var(--darkgray);
    padding: 60px 0;
}
.studio-footer {
    color: var(--white);
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03rem;
    text-align: left;
    color: var(--white);
    font-style: normal;
    margin-top: 20px;
}
.email-footer,
.phone-footer {
    color: var(--transparent);
    text-decoration: none;
}
.email-footer:hover,
.email-footer:focus,
.phone-footer:hover,
.phone-footer:focus {
    color: var(--blue);
}
.div-button {
    background-color: var(--lightgray);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03rem;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
}
.div-button:hover,
.div-button:focus {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.list-button {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    padding-top: 94px;
}
.list-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 94px;
}
.card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.description {
    border-left: 1px solid var(--light);
    border-right: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    padding: 20px 24px;
}
.icon-item {
    background-color: var(--lightgray);
    border-radius: 4px;
    width: 270px;
    height: 120px;
    padding-left: 100px;
    padding-top: 30px;
}
.heading-img {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06rem;
    text-align: left;
}
.paragraph-img {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03rem;
    text-align: left;
    color: var(--gray);
}
.icon-team {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;   
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white);
    fill: var(--lightnext);
}
.icon:hover,
.icon:focus {
    fill: var(--white);
    background-color: var(--blue);
}
.section-three-heading {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03rem;
    line-height: 1.17;
    text-align: center;
    padding-top: 94px;
    padding-bottom: 50px;
}
.clients-logo {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 94px;
}
.icon-logo {
    border: 1px solid var(--lightnext);
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: var(--lightnext);
}
.client:hover .icon-logo,
.client:focus .icon-logo {
    fill: var(--blue);
    border-color: var(--blue);
}
.social-links {
    font-size: 14px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.14;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-top: 7px;
}
.social-media {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px; 
    padding-top: 20px;  
}
.footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--white);
    background-color: var(--transnext);
}
.footer-icon:hover,
.footer-icon:focus {
    background-color: var(--blue);
}
.footer .container {
    display: flex;
}
