:root {
    --black: #212121;
    --white: #FFFFFF;
    --blue: #2196F3;
    --gray: #757575;
    --darkgray: #2F303A;
    --lightgray: #F5F4FA;
    --transparent: rgba(255, 255, 255, 0.6);
}
body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: var(--black);
}
.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    width: auto;
    text-align: left;
    text-decoration: none;
    color: var(--blue);
}
.studio-header {
    color: var(--black)
}
.list {
    list-style-type: none;
}
.list a {
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: auto;
    text-align: left;
    text-decoration: none;
}
.list a.links-agency:hover,
.list a.links-agency:focus,
.list a.links-portfolio:hover,
.list a.links-portfolio:focus,
.list a.links-contact:hover,
.list a.links-contact:focus {
    color: var(--blue);
}
.list .email-header,
.list .phone-header {
    color: var(--gray);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: auto;
    text-align: left;
    text-decoration: none;
}
.email-header:hover,
.email-header:focus,
.phone-header:hover,
.phone-header:focus {
    color: var(--blue);
}
.div-heading {
    background-color: var(--darkgray);
    color: var(--white);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    height: auto;
    text-align: center;
}
.btn {
    background-color: var(--blue);
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: auto;
    text-align: center;
    cursor: pointer;
}
.btn:hover,
.btn:focus {
    border-color: var(--blue);
}
.heading {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    height: auto;
    text-align: left;
    list-style-type: none;
}
.paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--gray);
}
.section-one-heading,
.section-two-heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    width: auto;
    text-align: center;
}
.name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
    width: auto;
    text-align: center;
}
.department {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    width: auto;
    text-align: center;
    color: var(--gray);
}
.footer {
    background-color: var(--darkgray);
}
.studio-footer {
    color: var(--white);
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    height: auto;
    text-align: left;
    color: var(--white);
    font-style: normal;
}
.email-footer,
.phone-footer {
    color: var(--transparent);
    text-decoration: none;
}
.email-footer:hover,
.email-footer:focus,
.phone-footer:hover,
.phone-footer:focus {
    color: var(--blue);
}
.div-button {
    background-color: var(--lightgray);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    width: auto;
    text-align: center;
    cursor: pointer;
    list-style-type: none;
}
.div-button:hover,
.div-button:focus {
    background-color: var(--blue);
    color: var(--white);
}
.heading-img {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    height: auto;
    text-align: left;
}
.paragraph-img {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    height: auto;
    text-align: left;
    color: var(--gray);
}