@import "./utils/mixin";
@import "./utils/variables";
@import "./components/header";
@import "./components/nav";
@import "./components/logo";
@import "./components/menu";
@import "./components/contact";
@import "./components/page-main";
@import "./components/button";
@import "./components/lorem";
@import "./components/what-do";
@import "./components/our-team";
@import "./components/social-media";
@import "./components/clients";
@import "./components/footer";
@import "./components/newsletter";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/form";
@import "./components/portfolio";

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: $black-color;
    width: 1600px;
}
.container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

*:focus {
    outline: none;
}
