.button {
    @include button;
    text-align: center;
    padding: 10px 41px 10px 42px;
    margin-top:350px;
    margin-bottom: 200px;
    position: absolute;
    transition-property: border;
    @include transition;
    &:hover,
    &:focus {
        border: 1px solid $blue-color;
    }
}
.button__footer {
   @include button;
    text-align: left;
    width: 200px;
    padding: 10px 24px 10px 42px;
    outline: none;
    transition-property: transform;
    @include transition;
    &:hover,
    &:focus {
        transform: scale(1.10);
    }
    .button__icon-send {
        position: absolute;
        margin-left: 24px;
        width: 24px;
        height: 24px;
    }
}
.button-close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    background-color: $white-color;
    border-radius: 50%;
    border: 1px solid $dark-six;
    @include flex;
    padding: 8px;
    cursor: pointer;
    transition-property: transform;
    @include transition;
    &:hover,
    &:focus {
        transform: scale(1.25);
        background-color: $light-gray-color;
    }
}
.button-send {
    @include button;
    border-radius: none;
    padding: 10px 76px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    transform: translateX(65%);
    transition-property: border;
    @include transition;
    &:hover,
    &:focus {
        border-radius: 4px;
        font-size: get-size('send');
    }
}
