.contact {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    &__email {
        @include contact;
        margin-left: 300px;
        transition-property: color;
        @include transition;
        &:hover,
        &:focus {
            color: $blue-color;
        }
    }
    &__phone {
        @include contact;
        margin-left: 40px;
        transition-property: color;
        @include transition;
        &:hover,
        &:focus {
            color: $blue-color;
        }
    }
    &__icon {
        margin-right: 10px;
        fill: $gray-color; 
        transition-property: fill;
        @include transition;
    }
    &__email:hover &__icon,
    &__phone:hover &__icon,
    &__email:focus &__icon,
    &__phone:focus &__icon {
        fill: $blue-color;
    } 
}   
@media (max-width: 768px) {
    .contact {
        display: none;
    }
}
