.footer {
    background-color: $dark-gray-color;
    padding: 60px 0;
    & .container {
        display: flex;
    }
    &__address {
        @include footer;
        padding: 20px 0 9px 0;
    }
    &__contact {
        @include footer;   
    }
    &__email {
        @include email-phone;
        &:hover,
        &:focus {
            color: $blue-color;
        }
    }
    &__phone {
        margin-top: 9px;
        display: block;
        @include email-phone;
        &:hover,
        &:focus {
            color: $blue-color;
        }
    }
    &__social-links {
        font-size: get-size('body');
        font-weight: 700;
        color: $white-color;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        line-height: 1.14;
        padding-left: 60px;
        padding-top: 7px;
    }
    &__social-media {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-top: 20px;
    }
    &__item {
        list-style-type: none;
    }
&__icon {
    @include flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $white-color;
    background-color: $trans-two;
    transition-property: background-color;
    @include transition;
    &:hover,
    &:focus {
        background-color: $blue-color;
    }
}
}