.main-portfolio__cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;
    padding-top: 50px;
    padding-bottom: 94px;
    .main-portfolio__card {
        transition-property: box-shadow;
        @include transition;
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px $dark-two, 0px 4px 4px $dark-nine, 1px 4px 6px $dark-eight;
            cursor: pointer;
        }
    }
    .main-portfolio__img {
        position: relative;
        overflow: hidden;
        .main-portfolio__img-view {
            background-color: $blue-next;
            position: absolute;
            padding-top: 49px;
            padding-left: 24px;
            width: 100%;
            height: 100%;
            transform: translateY(0);
            transition: transform 250ms ease;
        }
        .main-portfolio__img-text {
            font-size: get-size('text');
            line-height: 1.55;
            letter-spacing: 0.03em;
            color: $white-color;
            position: absolute;
            width: 301px;
        }
    }
    .main-portfolio__card:hover .main-portfolio__img-view,
    .main-portfolio__card:focus .main-portfolio__img-view {
        transform: translateY(-100%);
    }
    .main-portfolio__img-description {
        border-left: 1px solid $light-color;
        border-right: 1px solid $light-color;
        border-bottom: 1px solid $light-color;
        padding: 20px 24px;
        .main-portfolio__img-heading {
            font-size: get-size('text');
            font-weight: 700;
            line-height: 2;
            letter-spacing: 0.06rem;
            text-align: left;
        }
        .main-portfolio__img-paragraph {
            font-size: get-size('team');
            line-height: 1.87;
            letter-spacing: 0.03rem;
            text-align: left;
            color: $gray-color;
        }
    }
}