.menu {
    @include flex;
    list-style-type: none;
    padding-left: 93px;
    .menu__link {
        color: $black-color;
        font-size: get-size('body');
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02rem;
        text-align: left;
        text-decoration: none;
        margin-right: 46px;
        transition-property: color;
        @include transition;
        &:hover,
        &:focus {
            color: $blue-color;
        }
    }
    .menu__link--active {
        position: relative;
        color: $blue-color;
        &::after {
            content: "";
            position: absolute;
            width: 53px;
            border-bottom: 4px solid $blue-color;
            border-radius: 2px;
            padding-top: 35px;
            display: block;
        }
    }
}