.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: $white-color;
    box-shadow: 0px 1px 3px $dark-two, 0px 1px 1px $dark-three, 0px 2px 1px $dark-four;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform;
    @include transition;
}