.nav {
    display: flex;
    .nav__list {
        @include flex;
        list-style-type: none;
        padding-left: 93px;
        .nav__link {
            color: $black-color;
            font-size: get-size('body');
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02rem;
            text-align: left;
            text-decoration: none;
            margin-right: 46px;
            transition-property: color;
            @include transition;
            &:hover,
            &:focus {
                color: $blue-color;
            }
        }
        .nav__link--active {
            position: relative;
            color: $blue-color;
            &::after {
                content: "";
                position: absolute;
                width: 53px;
                border-bottom: 4px solid $blue-color;
                border-radius: 2px;
                padding-top: 35px;
                display: block;
            }
        }
    }      
    .nav__contact {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .nav__email {
            @include contact;
            margin-left: 300px;
            transition-property: color;
            @include transition;
            &:hover,
            &:focus {
                color: $blue-color;
            }
        }
        .nav__phone {
            @include contact;
            margin-left: 40px;
            transition-property: color;
            @include transition;
            &:hover,
            &:focus {
                color: $blue-color;
            }
        }
        .nav__icon {
            margin-right: 10px;
            fill: $gray-color; 
            transition-property: fill;
            @include transition;
        }
        .nav__email:hover .nav__icon,
        .nav__phone:hover .nav__icon,
        .nav__email:focus .nav__icon,
        .nav__phone:focus .nav__icon {
            fill: $blue-color;
        }    
    }
}





