.page-main {
    background-color: $dark-gray-color;
    background-image: linear-gradient($gradient-one, $gradient-one), url("../images/new-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
}
.page-main__title {
    display: flex;
    justify-content: center;
}
.page-main__heading {
    color: $white-color;
    font-size: get-size('heading');
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.06rem;
    width: 696px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
}