.section__container {
    @include container;
    .section__heading {
        @include section;
        padding-top: 94px;
    }
    .section__list {
        display: flex;
        list-style-type: none;
        gap: 30px;
        padding-top: 50px;
        padding-bottom: 94px;
        justify-content: space-between;
        .section__item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .section__text {
            font-size: get-size('body');
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-align: center;
            color: $white-color;
            text-transform: uppercase;
            width: 370px;
            padding: 27px 90px;
            position: absolute;
            background-color: $gradient-two;
        }
    }
}