.section-team {
    background-color: $light-gray-color;
    padding-bottom: 94px;
    .section-team__container {
        @include container;
        .section-team__heading {
            @include section;
            padding-top: 94px;
            padding-bottom: 50px;
        }
        .section-team__list {
            display: flex;
            list-style-type: none;
            gap: 30px;
            justify-content: space-between;
            .section-team__item {
                box-shadow: 0px 1px 3px $dark-two, 0px 1px 1px $dark-three, 0px 2px 1px $dark-four;
                border-radius: 0px 0px 4px 4px;
            }
            .section-team__card {
                background-color: $white-color;
                border-radius: 0px 0px 4px 4px;
                box-shadow: 0px 1px 3px $dark-two, 0px 1px 1px $dark-three, 0px 2px 1px $dark-four;
            }
            .section-team__name {
                font-size: get-size('team');
                font-weight: 500;
                line-height: 1.18;
                letter-spacing: 0.03rem;
                text-align: center;
                padding: 30px 0 10px 0;
            }
            .section-team__department {
                font-size: get-size('team');
                line-height: 1.18;
                letter-spacing: 0.03rem;
                text-align: center;
                color: $gray-color;
                padding-bottom: 30px;
            }
            .section-team__icons-list {
                list-style-type: none;
                @include flex;
                gap: 10px;
                padding-bottom: 30px;
                .section-team__icon {
                    @include flex;
                    width: 44px;
                    height: 44px;
                    border-radius: 50%;
                    background-color: $white-color;
                    fill: $light-next;
                    transition-property: fill, background-color;
                    @include transition;
                    &:hover,
                    &:focus {
                        fill: $white-color;
                        background-color: $blue-color;
                    }
                }
            }
        }
    }
}