body {
    font-family: $fonts-family;
    color: $black-color;
    width: 1600px;
    margin: 0 auto;
}
.container {
    min-width: 320px;
    max-width: 1170px;
}
@media (max-width: 767px) {
    .container {
        width: 480px;
        padding: 0 15px;
    }
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

*:focus {
    outline: none;
}